PORT=6000
MONGODB_URI = mongodb+srv://vijaykumar:790626@cluster0.wcevxcy.mongodb.net/

CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=OUTCshbBUDNakBBxenNbnbxnnxscndnuUINNdndu_dnj__xd_DDVvvfvdvfdv
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=CJ0X0-SNDUENNNN_DcdcsXD_439_dknuni_MUNizs

REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME='mycloudAsVijaySingh000987'
CLOUDINARY_API_KEY=91827364509328273
CLOUDINARY_API_SECRET='uikuBUYBBSBNIBbjbw_ewkdbj_9j8y8gjahb'



